/**
 * Styles for the use-case component
 */

:host {
    display: block;
    --veritas-primary: #001735;
    --veritas-surface: #f7f9fb;
    --veritas-on-surface-variant: #43474f;
}

.bg-veritas-primary {
    background-color: var(--veritas-primary);
}

.text-veritas-primary {
    color: var(--veritas-primary);
}

.bg-veritas-surface {
    background-color: var(--veritas-surface);
}